/* our styling */
.oops {
  background-color: white;
  text-align: center;
  padding: 5em;
}
.oops {
  background-color: white;
  padding: 5em;
  text-align: center;
}
@font-face {
  font-family: arkhip;
  src: url(./assets/arkhip_font.woff);
}
.item {
  padding-top: 1em;
  padding-left: 2em;
}
.masthead {
  height: 100vh;
  min-height: 1000px;
  background-color: rgb(10,26,76);
}
.img-fluid {
  margin-top: -4em;
}
#footermid{
  text-align: right;
}
#AskForm {
  box-shadow: none;
} 
* {
  box-sizing: border-box;
}
input[type=text] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-style: none;
  border-radius: 10px;
}
input[type=submit]{
  background-color: rgb(249,232,164);
  color: rgb(10,26,76);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
}
input[type=submit]:hover {
  background-color: #4582A1;
  color: rgb(249,232,164);
}
#ask {
  border-radius: 10px;
  background-color: rgb(10,26,76);
}
footer {
  background-color: #ECEFF1
}
.btn{
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  font-size: 2em;
  background-color: rgb(249,232,164);
  color: rgb(10,26,76);
  padding: 1em;
  margin-top: -6em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.btn:hover {
  background-color: #4582A1;
  color: rgb(249,232,164);
}
hr {
  width: 60px; 
  background-color: #4582A1; 
  height: 2px;
}
.card, #cap {
  border-radius: 30px;
}
h1{
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  color: rgb(10,26,76);
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  color: #4582A1;
}
h3 {
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  color: #4582A1 ;
  font-size: 1.5em;
}
.tourpicbox {
  width: 200px; /* width of container */
  height: 131.25px; /* height of container */
  overflow: hidden;
}
.tourpicbox img {
  margin: -80px 0px 0px 0px;
}
.tourpic {
  margin-right: 20px;
}
.aboutbtn{
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  font-size: 1.5em;
  width: 80%;
  background-color: rgb(249,232,164);
  color: rgb(10,26,76);
  padding: 1em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-left: 50px;
}
.aboutbtn:hover {
  background-color: #4582A1;
  color: rgb(249,232,164);
  z-index: 1;
}
#cap {
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: rgb(10,26,76);
}
.toursbtn{
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  font-size: 2em;
  width: 100%;
  margin-bottom: 1em;
  background-color: rgb(249,232,164);
  color: rgb(10,26,76);
  padding: 1em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.toursbtn:hover {
  background-color: #4582A1;
  color: rgb(249,232,164);
}
.baybtn, .riverbtn, .oceanbtn{
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  font-size: 1em;
  width: 100%;
  margin-bottom: 1em;
  background-color: rgb(249,232,164);
  color: rgb(10,26,76);
  padding: 1em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.baybtn:hover, .riverbtn:hover, .oceanbtn:hover  {
  background-color: #4582A1;
  color: rgb(249,232,164);
}
body, html {   
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display:table;
}
body {
  display:table-cell;
  vertical-align:middle;
  background-image: url("./assets/beached_2.jpg");
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  height: 100vh;
}
#booknow {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display:table;/* shrinks to fit content */
  width: 60%;
  background-color: rgb(249,232,164);
  text-align: center;
}
select {
  border-style: none;
  width: 48%;
  height: 3em;
  margin: 1em;
  border-radius: 5px;
}
#party {
  margin-bottom: -10px;
}
#booktripbutton {
  background-color: #4582A1;
  color:  rgb(249,232,164);
}
#booktripbutton:hover {
  background-color: rgb(10,26,76);
  color:  rgb(249,232,164);
}
#thankyou {
  background-color: rgb(10,26,76);
  text-align: center;
}
.thanks {
  color: rgb(249,232,164);
  font-weight: bold;
  margin-top: 30px;
}
form {
  padding: 40px;
}
.column {
  width: 30%;
  margin-left: 30px;
  padding: 20px;
}
.row {
  width: 100%;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.fishname {
  margin-top: .5em;
  font-size: 2em;
}
.fishheadings {
  margin-top: .5em;
  font-size: 1.5em;
}
ul {
  text-align: left;
}
.fishpic {
  margin-top: 1em;
}
.hover {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: rgb(249,232,164);
  border: solid rgb(10,26,76);
  color: rgb(10,26,76);
  padding: 1em;
  font-size: 1em;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 770px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  padding: 1em;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #F3F3F3;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}


/* API STYLING BELOW */
/* stripe */
#root {
  display: flex;
  align-items: center;
}
#image {
  height: 200px;
  width: 200px;
  background-size: 200px 200px;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1399px) {
  .masthead {
    min-height: 850px;
  }
  #cap {
    width: 300px;
  }
  .aboutbtn {
    width: 300px;
  }
}
@media only screen and (max-width: 1199px) {
  .masthead {
    min-height: 700px;
  }
  .btn {
    margin-top: -5em;
  }
}
@media only screen and (max-width: 991px) {
  .masthead {
    min-height: 550px;
  }
  .btn {
    margin-top: -2.5em;
  }
  h3 {
    font-size: 1.2em;
  }
  .column {
    margin-left: 20em;;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .img-fluid {
    margin-top: -1em;
  }
  #footermid {
    text-align: center;
  }
  .masthead {
    min-height: 460px;
  }
  .btn {
    margin-top: -2em;
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  .column {
    margin-left: 15em;;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .column {
    margin-left: 9em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 575px){
  .btn {
    margin-top: -3em;
    width: 90%;
    margin-left: 30px;
  }
  .card {
    width: 400px;
    margin-left: 60px;
  }
  .column {
    margin-left: 8em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 412px) {
  .card {
    width: 20em;
    margin-left: 1.8em;
  }
  #cap, .aboutbtn {
    margin-left: 2em;
    width: 80%;
    font-size: 1.2em;
  }
  .column {
    margin-left: 3em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  #ask {
    margin-left: 1em;
  }
  .btn {
    margin-left: 1em;
    margin-top: -1.8em;
  }
}
@media only screen and (max-width: 375px) {
  #bottomfoot {
    font-size: .5em;
  }
  .column {
    margin-left: 1.8em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  #ask {
    margin-left: 1.5em;
  }
  .btn {
    margin-top: -1em;
    margin-left: .5em;
  }
  .masthead {
    min-height: 25em;
  }
  .card {
    margin-left: 1em;
  }
  .toursbtn {
    width: 14em;
    font-size: 1.5em;
    margin-left: .3em;
    margin-top: -.5em;
  }
}