/* our styling */
@font-face {
  font-family: arkhip;
  src: url(./assets/arkhip_font.woff);
}
.nav-container {
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  font-size: 1.5em;
  margin-bottom: 0;
}
.item {
  padding-top: 1em;
}
.masthead {
  height: 100vh;
  min-height: 900px;
  background-color: rgb(10,26,76);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img_fluid {
  max-width: 100%;
  height: auto;
}
.btn-block {
  margin-top: -9em;
  background-color: rgb(249,232,164);
  position: relative;
  height: 5em;
}
.booking {
  text-decoration: none;
  margin: 0;
  padding-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#Ask {
  background-color: rgb(10,26,76);
  padding: 1.5em;
  border-radius: 10px;
  float: left;
  width: 100%;
  margin-left: .7em;
}
#AskForm {
  box-shadow: none;
  padding: 0;
}
.AskInput {
  border-radius: 5px;;
  background-color: white;
  border-style: none;
  margin: .3em;
  width: 90%;
  height: 35px;
}
#messageField {
  height: 100px;
}
#florida {
  text-align: right;
}
h1{
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  color: rgb(10,26,76);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  color: rgb(207, 207, 252);
}

h3 {
  font-family: 'arkhip', 'Copperplate', 'Papyrus', 'fantasy', sans-serif;
  color: rgb(21,103,255);
  font-size: 1.5em;
}
.collapsible {
  background-color: rgb(66, 66, 165);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(104, 104, 201);
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(207, 207, 252);
}

.selection, .tourbtn {
  width: 33.33%;
  display: inline-block;
}

.topTour {
  color: white;
  font-weight: bold;
  height: 200px;
  margin-bottom: 50px;
}

.duckRow {
  display: flex;
  align-items: center;
  height: 200px;
  background-image:"../Keep your Ducks in a row.jpg";
}

.bookie {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* API STYLING BELOW */
/* auth0 */
.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

/* stripe */
#root {
  display: flex;
  align-items: center;
}
#image {
  height: 200px;
  width: 200px;
  background-size: 200px 200px;
}


body {
  background-image: url("./assets/beached_2.jpg");
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}


#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}